<div class="card">
  <div class="card-body">
    <h1>¿A quién esta dirigida esta app?</h1>
    <div class="card-body">
      <h3>Al sector educativo como: </h3>
      <p>Profesores</p>
      <p>Alumnos</p>
      <p>Investigadores</p>
    </div>

    <div class="card-body">
      <h3>¿Cúal es su función? </h3>
      <p>Principalmente, actuar como un repositorio</p>
    </div>
  </div>


  <div class="card">
    <div class="card-body">
      <h1>Elaborado por: </h1>
      <div class="card-body">
        <p>Eduardo Tzitzihua Garcia</p>
        <p class="lead">Estudiante del Instituto Tecnologico Superior de Misantla</p>
        <p class="lead">Maestria En Sistemas Computacionales, Primer Semestre</p>
      </div>
    </div>