<div class="container">
    <ul class="list-inline">
        <li class="list-inline-item footer-menu"><a href="#hero">Principal</a></li>
        <li class="list-inline-item footer-menu"><a href="#portfolio">Revistas</a></li>
        <li class="list-inline-item footer-menu"><a href="#equipo">Acerca de mi</a></li>
        <li class="list-inline-item footer-menu"><a href="#ingreso">Ingresar</a></li>
    </ul>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="https://www.instagram.com/"><img src="public/assets/images/instagram.svg" class="img-fluid"></a>
        </li>
        <li class="list-inline-item">
            <a href="https://twitter.com/LaloT098"><img src="public/assets/images/twitter.svg" class="img-fluid"></a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/eduardo-tzitzihua-garc%C3%ADa-789935216/"><img
                    src="public/assets/images/dribbble.svg" class="img-fluid"></a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.facebook.com/eduardo.tzitzihuagarcia.16"><img src="public/assets/images/facebook.svg"
                    class="img-fluid"></a>
        </li>
    </ul>
    <small>creado por <a href="https://themesbootstrap.com.mx/" class="font-weight-bold" target="_blank"
            rel="noopener">Eduardo Tzitzihua Garcia ---- ITSM</a></small>
</div>